<! -- sidebar.html -->
<header class="sidebar-header" role="banner">
	<a href="{{ site.BASE_PATH }}/">
		<img src="{{ site.BASE_PATH }}/assets/media/logo_sidebar.png" class="sidebar-logo" />
	</a>
	<h3 class="title">
        <a href="{{ site.BASE_PATH }}/">{{ site.title }}</a>
    </h3>
</header>

{% if author.bio %}
<div id="bio" class="text-center">
	{{ author.bio }}
</div>
{% endif %}

<div id="contact-list" class="text-center">
	<ul class="list-unstyled list-inline">
		{% if author.github %}
		<li>
			<a class="btn btn-default btn-sm" href="https://github.com/{{ author.github }}">
				<i class="fa fa-github-alt fa-lg"></i>
			</a>
		</li>
		{% endif %}
		{% if author.email %}
		<li>
			<a class="btn btn-default btn-sm" href="mailto:{{ author.email }}">
				<i class="fa fa-envelope fa-lg"></i>
			</a>
		</li>
		{% endif %}
		<li>
			<a class="btn btn-default btn-sm" href="{{ site.BASE_PATH }}/{{ site.rss_path }}">
				<i class="fa fa-rss fa-lg"></i>
			</a>
		</li>
	</ul>
	<ul id="contact-list-secondary" class="list-unstyled list-inline">
		{% if author.pinterest %}
		<li>
			<a class="btn btn-default btn-sm" href="https://pinterest.com/{{ author.pinterest }}">
				<i class="fa fa-pinterest fa-lg"></i>
			</a>
		</li>
		{% endif %}
		{% if author.linkedin %}
		<li>
			<a class="btn btn-default btn-sm" href="https://linkedin.com/pub/{{ author.linkedin }}">
				<i class="fa fa-linkedin fa-lg"></i>
			</a>
		</li>
		{% endif %}
		{% if author.twitter %}
		<li>
			<a class="btn btn-default btn-sm" href="https://twitter.com/{{ author.twitter }}">
				<i class="fa fa-twitter fa-lg"></i>
			</a>
		</li>
		{% endif %}
	</ul>
</div>
<! -- sidebar.html end -->
