---
layout: default
---

{% assign author = site.data.authors[page.author] %}
<article>
    <section class="article-header">
        <p class="date">{{ page.date | date: "%Y년 %m월 %d일" }} | {{ author.nickname }}</p>
        <h1 class="title">{{ page.title }}</h1>
    </section>
    <section class="post article-content">
        {{ content }}
        <ul class="tags post-tags cf">
            <i class="fa fa-tags"></i>
        {% for tag in page.tags %}
            <li><a href="/search/?tags={{ tag }}">{{ tag | downcase }}</a></li>
        {% endfor %}
        </ul>
    </section>
    <section class="article-author">
        {% include profile.md %}
        <p>
            <span><strong>{{ author.nickname }}</strong></span>
            |
            <span class="position">{{ author.position }}</span>
        </p>
        <p class="bio">
            {{ author.bio }}
        </p>
    </section>



    <section class="share col-sm-6">
        <h4 class="section-title">Share Post</h4>
        <a class="btn btn-default btn-sm twitter" href="http://twitter.com/share?text={{page.title | encode}}{% if author.twitter%}&via={{author.twitter}}{% endif %}"
           onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
            <i class="fa fa-twitter fa-lg"></i>
            Twitter
        </a>
        <a class="btn btn-default btn-sm facebook" href="https://www.facebook.com/sharer/sharer.php"
           onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
            <i class="fa fa-facebook fa-lg"></i>
            Facebook
        </a>
        <a class="btn btn-default btn-sm gplus"
           onclick="window.open('https://plus.google.com/share?url='+window.location.href, 'google-plus-share', 'width=490,height=530');return false;">
            <i class="fa fa-google-plus fa-lg"></i>
            Google+
        </a>
    </section>

    <ul class="pager">
    {% if page.previous %}
        <li class="previous"><a href="{{ site.BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous</a></li>
    {% else %}
        <li class="previous disabled"><a>&larr; Previous</a></li>
    {% endif %}
    {% if page.next %}
        <li class="next"><a href="{{ site.BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a></li>
    {% else %}
        <li class="next disabled"><a>Next &rarr;</a>
    {% endif %}
    </ul>

</article>
